
.balanceTable {
  border-collapse: collapse;
  
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
margin-left: auto;
margin-right: auto;

}
.balanceTable > thead > tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.balanceTable th,
.balanceTable td {
    padding: 12px 15px;
}


.balanceTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.balanceTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.balanceTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.balanceTable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.App {
  text-align: center;
}




.button{
 
 
    border-radius: 30px; /* Curve of border corners */
     
    text-transform: uppercase; /* Make letters uppercase */
     
    color: white; /* Text color */
     
    background: #0099cc; /* For browsers that do not support gradients */
     
    
     
     
    }
